<main class="content">
  <section class="block">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <article class="page-content clearfix">
            <div
              style="background-color: #fffde4; border: 1px solid #f6e8a1; color: #a37731; font-size: 13px; padding: 10px;">
              <i class="fa fa-check" style="margin-left: 5px;"></i><strong>قوانین سایت</strong>
            </div>

            <p>
              شرایط استفاده و محافظت از داده ها<br>
              با استفاده از niazmandiha کاملاً با شرایط زیر موافقت می کنید.<br>

              الزامات شخصی / قانونی برای استفاده از سرویس اینترنت<br>
              پیشنهادات مورد نیاز<br>
              خدمات / پیشنهادات شریک<br>
              ایمنی<br>
              تحویل ایمیل / توصیه ها / موارد دیگر<br>
              برخورد با سایر کاربران<br>
              دیگران<br>
              حریم خصوصی<br>
              1. الزامات شخصی / قانونی برای استفاده از خدمات اینترنت<br>
              استفاده از خدمات اینترنتی از niazmandiha فقط مجاز به افراد ذیصلاح ، حداقل 18 ساله از نظر قانونی ، مجاز (بدون<br>
              محدودیت) است. استفاده توسط اشخاص حقوقی طبق قانون (با توجه به قدرت نمایندگی) تنظیم می شود.<br>

              niazmandiha حق دارد مردم را از استفاده از سرویس اینترنت بدون دلیل و دلیلی محروم کند.<br>

              2. پیشنهادات در مورد<br>
              محتوای نمایش داده شده در niazmandiha ممکن است کپی ، ویرایش ، توزیع ، انتشار یا انتشار در دسترس عموم (انتشار<br>
              آنلاین) یا استفاده از آن به روش دیگری بدون رضایت قبلی دارنده حقوق باشد. این همچنین در مورد کپی کردن توسط<br>
              فن آوری های موتور جستجوی "روبات / خزنده" یا سایر مکانیسم های خودکار (همچنین به بخش 8 حق نسخه برداری از<br>
              قوانین و مقررات عمومی مراجعه کنید) صدق می کند.<br>

              niazmandiha یک بستر تبلیغاتی است که در آن تبلیغات یا پروفایل های متقاضی یا موارد مشابه آن توسط اشخاص حقیقی و<br>
              حقوقی ایجاد می شود. می تواند منتشر شود ، مادامی که محتوای آنها نقض مقررات قانونی ، شرایط و ضوابط ما یا<br>
              دستورالعمل های تبلیغ آگهی نباشد.<br>

              اطلاعات / پیشنهادات / تبلیغاتی که از طریق درگاه تبلیغات می توانند فراخوانی شوند ، عموما توسط اشخاص ثالث<br>
              ارائه می شوند و به هیچ وجه نشان دهنده پیشنهادهای الزام آور از niazmandiha نیستند .خدمات ارائه شده به عنوان<br>
              یک بستر تبلیغاتی ، یعنی درک می شود. که کاربران می توانند تبلیغات خود را قرار دهند یا در صورت علاقه با آنها<br>
              تماس بگیرند و با یکدیگر قرارداد ببندند. هر قراردادی منحصرا بین تبلیغ کننده مربوطه و شخص علاقه مند منعقد می<br>
              شود. به این معنا ، داشتن نه نماینده و نه نماینده و نه نماینده یا کارگزار مشتری نیست.<br>

              کلیه پیشنهادات مربوط به niazmandiha الزام آور نیست. خطاهای ورودی ، خطاهای ناشی از پردازش خودکار داده ها و<br>
              خطاها صریحاً محفوظ است.<br>

              کلیه قراردادها یا تماسهای تجاری حقوقی با اشخاص ثالثی که شما از طریق بستر ما انعقاد یا ایجاد می کنید فقط<br>
              بین شما و اشخاص ثالث وجود دارد. بنابراین ویلابن هیچ گونه مسئولیتی در قبال محصولات ، خدمات و غیره یا خسارت<br>
              ناشی از این روابط پیمانکاری یا در رابطه با انعقاد یا عدم انعقاد قرارداد ندارد.<br>

              از این رو کلیه ادعاها ، از هر نوع ، که نتیجه انعقاد قرارداد یا عدم انعقاد قرارداد در بین کاربران سرویس<br>
              اینترنت است ، پذیرفته شده توسط کاربران نیست ، بلکه همیشه مستقیماً به شخص ثالث مربوطه ، شریک پیمانکاری و<br>
              قانونی اجرا می شود.<br>

              niazmandiha مسئولیت موفقیت خاصی یا اجرای قابلیت انعقاد قرارداد منعقده از طریق بستر تبلیغاتی ندارد. ما مسئول<br>
              صحت اطلاعات هویتی کاربران و تبلیغ کنندگان یا دسترسی یک تبلیغ کننده از طریق اطلاعات ارائه شده نیستیم. هر<br>
              کاربر مجبور است خود را از هویت شریک قراردادی خود متقاعد کند.<br>

              niazmandiha همچنین در قبال کالاهای ارائه شده ، معامله شده بر روی سکوی تبلیغاتی ، نه از ضمانت ، جبران خسارت ،<br>
              نه از مسئولیت محصول و یا از گارانتی ، هیچ مسئولیتی ندارد.<br>

              کاربران مسئولیت پیوندهای استفاده شده را بر عهده دارند. niazmandiha صریحاً از محتوای وب سایتهای پیوندی فاصله<br>
              می گیرد. همه مراجعات به وب سایت های شخص ثالث و محتوای موجود در وب سایت بررسی نمی شوند. niazmandiha هیچ گونه<br>
              مسئولیتی در قبال خسارتهای ناشی از استفاده از مطالب پیوندی نمی پذیرد. niazmandiha مسئول شیوه های حفظ حریم<br>
              خصوصی یا محتوای این وب سایت ها نیست. برای محتوای غیرقانونی ، نادرست یا ناقص و به ویژه برای خسارت ناشی از<br>
              استفاده از اطلاعات مرتبط ، ارائه دهنده صفحه ای که به آن اشاره شده است تنها مسئولیت پذیر است.<br>

              اگر محتوای قابل بازیابی توسط کاربران / تبلیغ کنندگان یا از طرف آنها در دسترس قرار گرفته باشد ، ما هیچ<br>
              مسئولیتی در قبال محتوا ، صحت ، موضع بودن یا قابلیت اطمینان محتوا ، و همچنین برای هرگونه خطای تایپ و انتقال<br>
              نمی پذیریم. تبلیغ کننده مسئول صحت اطلاعات در آگهی خود است.<br>

              niazmandiha به هیچ وجه مسئولیتی در قبال خسارتهای ایجاد شده توسط کاربر ندارد و اطلاعاتی را که در هنگام<br>
              استفاده از niazmandiha در مورد اطلاعات خود کسب کرده است ، به عهده دارد.<br>

              2.1 خدمات / پیشنهادات شریک<br>
              niazmandiha گزینه مقالات / خدمات را در بعضی از مقوله ها ارائه می دهد<br>
              2.1 خدمات / پیشنهادات شریک<br>
              در بعضی از دسته ها ، niazmandiha امکان خرید یا درخواست کالاها / خدمات را مستقیماً از ارائه دهنده مربوطه (به<br>
              عنوان مثال کمک مالی ، املاک تعطیلات ، مسابقات و کمپین ها ، خدمات بیمه ، گزیده های ثبت نام زمین و غیره)<br>
              ارائه می دهد.<br>

              برای پرداخت مقالات یا خدمات مربوطه ، ما شما را به خود ارائه دهنده مربوطه (به عنوان مثال آپارتمان های<br>
              تعطیل) یا به یک ارائه دهنده پرداخت ارسال می کنیم. ویلابن نمی تواند مسئولیت امنیت داده هایی را که در این<br>
              پرتال های شخص ثالث وارد می کنید ، به عهده بگیرد.<br>

              3. امنیت<br>
              niazmandiha تلاش می کند تا خدمات ممکن خود را تا حد ممکن جدی و دوستانه داشته باشد و از این رو می خواهد کاربر<br>
              از تمام حوادثی که نشان می دهد کاربر دیگری از این سکو استفاده نادرست ، غیرقانونی یا به ضرر اشخاص ثالث می<br>
              کند ، مطلع کند. willwill در مورد چنین اعلان هایی پیگیری خواهد کرد و احتمالاً کاربران را مسدود خواهد کرد یا<br>
              تبلیغات را حذف می کند و / یا به مرجع کیفری یا سایر مراجع ذیصلاح اطلاع می دهد (همچنین به بخش 3.2 شرایط و<br>
              ضوابط مراجعه کنید)<br>

              گزینه ای برای گزارش محتوای تبلیغاتی مشکوک یا غیرقانونی به طور مستقیم در تبلیغات وجود دارد. اگر مطالب<br>
              غیرقانونی را گزارش می کنید ، برای ساده تر کردن جستجو باید مبنای حقوقی را دقیقاً ممکن و همچنین نام و آدرس<br>
              خود بیان کنید. ویلابن هیچگونه اطلاعات ناشناسی را در نظر نمی گیرد.<br>

              در صورتی که مشتریان تخلف از قوانین را به niazmandiha گزارش دهند ، niazmandiha موظف به تحقیق در مورد حقایق<br>
              نیست. تصمیم نهایی در مورد اینکه آیا یک تبلیغات به صورت آفلاین قرار می گیرد یا کاربر مسدود شده است ، و غیره<br>
              توسط اراده انجام می شود.<br>

              مشتری از سوءاستفاده از کلیه اطلاعات و داده های موجود در وب سایت کاملاً ممنوع است. استفاده سوءاستفاده به<br>
              ویژه استفاده از اطلاعات و داده های موجود برای اهداف تجاری یا استفاده از این داده ها و اطلاعات در وب سایت<br>
              ها یا نشریات دیگر و همچنین ارسال اطلاعات ناخواسته به عنوان مثال است. مشاهده شده از طریق ایمیل یا پیام<br>
              کوتاه ، برای اهداف تبلیغاتی مستقیم یا به صورت پستی انبوه.<br>

              3.1 تحویل ایمیل / توصیه ها و غیره<br>
              niazmandiha مجاز است ، اما به دلایل قانونی ، یا به دلایل شرایط عمومی و یا به دلایل امنیتی و رقابت ، حتی بدون<br>
              مشاوره قبلی با کاربر / تبلیغ ، مجبور به ارائه سوالات / برنامه های کاربردی و غیره نیست. این امر در مورد<br>
              پیام هایی با هدف آشکار خسارت به تبلیغ کننده اعمال می شود ، اما همچنین برای پیام هایی که نقض منع قانونی یا<br>
              رسمی ، سوءاستفاده ، نقض نجابت مشترک را تشکیل می دهد ، اعمال می شود. برای این منظور می توانید ایمیل های<br>
              niazmandiha را مشاهده کنید. کاربر رضایت صریح خود را از این اقدام می دهد.<br>
              برای بقیه ، نقطه 3.2 شرایط و ضوابط عمومی اعمال می شود<br>

              3.2 برخورد با سایر کاربران<br>
              كاربران خدمات اينترنتي از وهابن متعهد شده اند كه هيچ نوع فعاليتي را كه منجر به آسيب ديدن اشخاص ثالثي شود ،<br>
              انجام ندهند و آسيب ناخواسته ايجاد كنند. تبلیغات و اسپم های ناخواسته (بازاریابی مستقیم تهاجمی از طریق پست<br>
              الکترونیکی یا تلفن) ، توهین ، محتوای سیاسی ، نقض نجابت مشترک یا هرگونه استفاده از بستر انتقال اقدامات<br>
              مجرمانه یا آسیب های عمدی به سایر شرکت کنندگان اینترنتی ممنوع است.<br>

              3.3 سایر<br>
              هیچ تضمینی وجود ندارد که سرویس اینترنت با تجهیزات فنی کاربر سازگار باشد.<br>

              اقداماتی که نقض یا قصد به خطر انداختن امنیت شبکه یا سیستم (مانند نفوذ ویروس یا اسب تروجان) را داشته باشد<br>
              ممنوع است و طبق قانون مدنی و جزایی تحت پیگرد قانونی قرار خواهد گرفت.<br>
              4- محافظت از داده ها<br>
              niazmandiha از نرم افزار برای تجزیه و تحلیل استفاده از سیستم عامل ما استفاده می کند. این کار استفاده از<br>
              سرویس اینترنت را ارزیابی می کند و بینش ارزشمندی در مورد نیاز کاربران ارائه می دهد. این یافته ها به بهبود<br>
              بیشتر کیفیت پیشنهادات از niazmandiha کمک می کند.<br>

              به اصطلاح کوکی ها نیز در این زمینه استفاده می شوند. کوکی ها فایلهای متنی هستند که در رایانه بازدید کننده<br>
              سکو ذخیره می شوند. آنها هنگام بازدید مجدد از سیستم عامل ، کاربر را قادر می سازند تا شناسایی شود. این امر<br>
              باعث می شود که بخواهیم ارزیابی از کاربردی که در بالا توضیح داده شده است را انجام دهیم.<br>

              علاوه بر این ، کوکی های شخص ثالث برای ارائه دهندگان خدمات و شرکای تبلیغاتی فعال هستند. این فایلهای متنی<br>
              تشخیص ناشناسانه کاربر را به عنوان مثال فعال می کنند. در شبکه تبلیغات / تحلیل شریک.<br>

              کوکی ها با استفاده از تنظیمات مناسب مرورگر می توانند به طور کلی رد یا حذف شوند. در این حالت ، ممکن است که<br>
              همه توابع سرویس اینترنت ما به طور کامل قابل استفاده نباشند.<br>

              علاوه بر این ، برخی از داده های فنی ، از جمله آدرس IP کاربر ، توسط نرم افزار مورد استفاده جمع آوری و ذخیره<br>
              می شوند. با این حال ، در هیچ شرایطی افراد در پشت این داده ها شناسایی نشده اند یا داده های شخصی جمع آوری<br>
              شده اند. این داده ها همچنین با سایر اطلاعات شخصی دیگری که ممکن است توسط کاربران فاش شود ، همراه نیست.<br>

              با استفاده از این سرویس اینترنتی شما با روش توصیف شده در بالا برای تجزیه و تحلیل استفاده از سیستم عامل<br>
              موافق هستید.<br>

              شما به طور مرتب از طریق خبرنامه niazmandiha درباره پیشنهادات ، اخبار و پیشنهادات محصول دریافت خواهید کرد.<br>
              برای این کار از داده های ارائه شده در هنگام ثبت نام (مانند نام ، آدرس ایمیل) استفاده می کنیم. شما می<br>
              توانید هر زمان که می خواهید با عضویت در خبرنامه از خبرنامه مشترک شوید.<br>
            </p>
            <p>&nbsp;</p>
            <p style="height: 200px;"></p>
          </article>
        </div>
      </div>
    </div>
  </section>
</main>
