<header class="hero">
  <div class="hero-wrapper">
    <div class="secondary-navigation">
      <div class="container">
        <ul class="left">
          <li>
            <button type="button" class="btn btn-primary city-select-btn" data-toggle="modal"
              data-target="#city-select-modal">
              <i class="fa fa-map-marker" aria-hidden="true"></i> {{ locationName }} </button>
            <select class="btn btn-primary city-select-btn lang-select" #langSelect
              (change)="langChange(langSelect.value)">
              <option value="fa" selected disabled *ngIf="currectLang==='fa'">FA</option>
              <option value="en" selected disabled *ngIf="currectLang==='en'">EN</option>
              <option value="fa" *ngIf="currectLang==='en'">FA</option>
              <option value="en" *ngIf="currectLang==='fa'">EN</option>              
            </select>
            <!-- Modal -->
            <div class="modal fade" id="city-select-modal" tabindex="-1" role="dialog"
              aria-labelledby="city-select-modalTitle" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="loading">
                    <div class="loader-show"></div>
                  </div>
                  <div class="modal-header">
                    <h5 class="modal-title" id="city-select-modalTitle">{{ 'Header.Location' | translate }}</h5>
                    <ul class="all-city">
                      <li data-city="all" (click)="onAllStateClick()">{{ 'Header.All' | translate }}</li>
                    </ul>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="city-search-box">
                      <input class="form-control" id="city_search" type="text"
                        (keyup)="onSearchState($event.target.value)" ng-model="st"
                        placeholder="{{ 'Header.Search' | translate }}" autocomplete="off">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                    <ul class="city_list">
                      <li *ngFor="let item of mainStates" (data-city)="item.id" (click)="onStateClick(item.id)">
                        {{ item.name }}
                      </li>
                    </ul>
                    <br>
                    <ul class="city_list">
                      <li *ngFor="let item of tempStates" (data-city)="item.id" (click)="onSubStateClick(item.id)">
                        {{ item.name }}
                      </li>
                    </ul>
                    <div class="realoading"></div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="right">
          <!-- <li>
            <a href="">
              <i class="fa fa-heart"></i> علاقه‌مندی ها </a>
          </li> -->
          <li style="cursor: pointer;">
            <a *ngIf="isAuth" (click)="logOut()">
              {{ 'Header.logout' | translate }} </a>
          </li>
          <li style="cursor: pointer;" *ngIf="isAuth">
            <a routerLink="/pages/auth/chat">
              {{ 'Header.Chat' | translate }} </a>
          </li>
          <li style="cursor: pointer;" *ngIf="isAuth">
            <a routerLink="/pages/auth/favorite">
              {{ 'Header.Favorite' | translate }} </a>
          </li>
          <li>
            <a routerLink="/pages/auth/login" *ngIf="!isAuth" style="cursor: pointer;">
              <i class="fa fa-sign-in"></i> {{ 'Header.SignIn' | translate }} </a>
            <a *ngIf="isAuth" routerLink="/pages/auth/controll">
              {{ 'Header.Controll' | translate }} </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-navigation">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
          <a class="navbar-brand" routerLink="/">
            <img src="/assets/img/logo.png" alt="logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
            <!--Main navigation list-->
            <ul class="navbar-nav">
              <li
                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children nav-item active">
                <a routerLink="/" data-toggle="has-child" class="nav-link">{{ 'Menu.Home' | translate }}</a>
              </li>
              <li id="menu-item-69" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children nav-item
                menu-item-69 has-child">
                <a data-toggle="has-child" class="nav-link hidden-in-mini">{{ 'Menu.Category' | translate }}</a>
                <ul role="menu" class="child">
                  <li *ngFor="let item of cats"
                    class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children nav-item dropdown-submenu">
                    <a href="#" data-toggle="has-child" class="nav-link">
                      <i [class]="'base-color fa fa-'+ item.image"></i>
                      {{item.name}}</a>
                    <ul role="menu" class="child">
                      <li *ngFor="let child of item.childCategories"
                        class="menu-item menu-item-type-taxonomy menu-item-object-product_cat nav-item">
                        <a [routerLink]="['/pages/main/category', child.id]" class="nav-link">{{child.name}}</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item">
                <a routerLink="/pages/main/about" class="nav-link">{{ 'Menu.About' | translate }}</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page nav-item ">
                <a routerLink="//pages/main/contact" class="nav-link">{{ 'Menu.Contact' | translate }}</a></li>
            </ul>
          </div>
          <ol class="nav-btn">
            <li class="dropdown dropdown-large top-category-btn">
              <a href="#" class="dropdown-toggle btn btn-primary text-caps btn-rounded btn-framed"
                data-toggle="dropdown"> <i class="fa fa-align-justify" aria-hidden="true"></i>
                {{ 'Menu.Category' | translate }}</a>
              <ul class="dropdown-menu dropdown-menu-large row">
                <li class="col-sm-12">
                  <ul>
                    <li *ngFor="let item of cats" class="cat-item"><a href="#">
                        <i [class]="'base-color fa fa-'+ item.image"></i>
                        {{item.name}}
                      </a>
                      <ul class='children'>
                        <li *ngFor="let child of item.childCategories" class="cat-item"><a
                            [routerLink]="['/pages/main/category', child.id]">{{child.name}}</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item submit_ad">
              <a *ngIf="isAuth" routerLink="/pages/add" class="btn btn-primary text-caps btn-rounded btn-framed">
                <i class="fa fa-plus" aria-hidden="true"></i> {{ 'Menu.PostAd' | translate }}</a>
              <a *ngIf="!isAuth" routerLink="/pages/auth/login"
                class="btn btn-primary text-caps btn-rounded btn-framed">
                <i class="fa fa-plus" aria-hidden="true"></i> {{ 'Menu.PostAd' | translate }}</a>
            </li>
          </ol>
        </nav>
      </div>
    </div>

    <!-- <div class="page-title">
      <div class="container">
        <div class="opacity-60 center">
        </div>
      </div>
    </div> -->
    <form class="hero-form form" (ngSubmit)="onSearch()" #form="ngForm">
      <div class="container">
        <!--Main Form-->
        <div class="main-search-form">
          <div class="form-row">
            <div class="col-md-10 col-sm-5">
              <div class="form-group">
                <input [(ngModel)]="txt" #type="ngModel" autocomplete="off" name="s" type="text" class="form-control"
                  id="what" [placeholder]="'Header.SearchInAll' | translate" value="">
              </div>
            </div>
            <div class="col-md-2 col-sm-2">
              <button type="submit" class="btn btn-primary width-100">{{ 'Header.Search' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="background">
      <div class="background-image original-size" style="background-image: url(/assets/img/hero-background-icons.jpg);">
        <img src="/assets/img/hero-background-icons.jpg" alt="">
      </div>
    </div>
  </div>
</header>
