<!-- <main class="content">

  <section class="block ad-list-block">

    <div class="container">
      <div class="section-title clearfix">
        <h2>{{ 'Auth.MyChat' | translate }}</h2>
      </div>
      <ul class="row items ad-listing" *ngIf="source.length>0">
        <li *ngFor="let item of source"
          class="item col-lg-3 col-md-3 col-sm-12 product type-product post-509 status-publish first instock product_cat-sell-house has-post-thumbnail downloadable virtual product-type-simple">
          <div class="wrapper">
            <div class="meta">
              <i class="fa fa-calendar-o"></i>
              <a [routerLink]="['/pages/auth/chat/single', item.postId]" [title]="item.postTitle" class="title">
                <h2>{{item.postTitle}}</h2>
              </a>
            </div>
          </div>
        </li>
      </ul>
      <div class="center ad-load-more" *ngIf="source.length==0 && loading">
        <div class="ad-loading" style="display: block;">
          <div class="ad-loader-show">
          </div>
        </div>
      </div>
      <div class="center ad-load-more" *ngIf="source.length==0 && !loading">
        <p>{{ 'Home.Nodata' | translate }}</p>
      </div>
    </div>
  </section>
</main> -->

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> -->
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="/assets/css/style-chat.css">

<!-- partial:index.partial.html -->
<div class="container-chat clearfix">
  <div class="people-list" id="people-list">
    <div class="search">
      <input type="text" placeholder="search" />
    </div>
    <ul class="list">
      
      <li class="clearfix">          
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" />
        <div class="about">
          <div class="name">Vincent Porter</div>            
        </div>
      </li>

      <li class="clearfix">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_02.jpg" alt="avatar" />
        <div class="about">
          <div class="name">Aiden Chavez</div>
        </div>
      </li>

    </ul>
  </div>

  <div class="chat">
    <div class="chat-header clearfix">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />

      <div class="chat-about">
        <div class="chat-with">post</div>
        <div class="chat-num-messages">text</div>
      </div>
    </div> <!-- end chat-header -->

    <div class="chat-history">
      <ul>
        <li class="clearfix">
          <div class="message other-message float-right">
            Hi Vincent, how are you? How is the project coming along?
          </div>
        </li>

        <li>
          <div class="message my-message">
            Are we meeting today? Project has been already finished and I have results to show you.
          </div>
        </li>

        <li>
          <div class="message my-message">
            Are we meeting today? Project has been already finished and I have results to show you.
          </div>
        </li>

        <li class="clearfix">
          <div class="message other-message float-right">
            Hi Vincent, how are you? How is the project coming along?
          </div>
        </li>


      </ul>

    </div> <!-- end chat-history -->

    <div class="chat-message clearfix">
      <textarea name="message-to-send" id="message-to-send" placeholder="Type your message" rows="3"></textarea>

      <button class="btn btn-primary width-100">Send</button>

    </div> <!-- end chat-message -->

  </div> <!-- end chat -->

</div> <!-- end container -->

<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js'></script>
<script src="/assets/js/script-chat.js"></script>
