    <!--====== HEADER PART START ======-->

    <section class="header-area">
      <div class="header-top header-top-2">
        <div class="container">
          <div class="header-top-wrapper d-flex justify-content-center justify-content-md-between align-items-center">
            <div class="header-top-left d-none d-md-block">
              <ul class="header-meta">
                <li><a href="#"><i class="fal fa-phone"></i> +88 018 522 369 36</a></li>
                <li><a href="#"><i class="fal fa-envelope"></i> info.seylon@gmail.com</a></li>
              </ul>
            </div>
            <div class="header-top-right">
              <div class="header-follow d-flex align-items-center">
                <ul class="social">
                  <li><span>Follow Us:</span></li>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
                <ul class="header-login">
                  <li><a href="http://webpro.themepul.com/Seylon_Classified_Ads/sign-in.html"><i
                        class="fal fa-sign-in-alt"></i> Sign In</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ngx-theme-menu></ngx-theme-menu>

    </section>

    <!--====== HEADER PART ENDS ======-->
