    <!--====== HEADER PART START ======-->

    <section class="header-area">
      <div class="header-top header-top-2">
        <div class="container">
          <div class="header-top-wrapper d-flex justify-content-center justify-content-md-between align-items-center">
            <div class="header-top-left d-none d-md-block">
            </div>
            <div class="header-top-right">
              <div class="header-follow d-flex align-items-center">
                <ul class="social">
                  <li><span>{{ 'Header.Follow' | translate }}</span></li>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
               <ul class="header-login">
                 <li><a href=""><i
                       class="fal fa-sign-in-alt"></i>{{ 'Header.SignIn' | translate }}</a></li>
               </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <app-theme-menu>
        </app-theme-menu>

    </section>

    <!--====== HEADER PART ENDS ======-->
