    <!--====== HEADER PART START ======-->

    <section class="header-area">
      <div class="header-top header-top-2">
        <div class="container">
          <div class="header-top-wrapper d-flex justify-content-center justify-content-md-between align-items-center">
            <div class="header-top-right">
              <div class="header-follow d-flex align-items-center">
                <ul class="header-login">
                  <li *ngIf="!isAuth"><a routerLink="/login"><i
                        class="fal fa-sign-in-alt"></i>{{ 'Header.SignIn' | translate }}</a></li>

                  <li *ngIf="isAuth"><a routerLink="">{{ email }}</a></li>
                </ul>
                <ul class="social">
                  <li style="margin-left: 10px;"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="header-top-left">
              <div class="top-select" *ngIf="isShow">
                <select>
                  <option value="0" disabled selected>انتخاب موقعیت</option>
                  <option value="1">Dhaka</option>
                  <option value="2">Chittagong</option>
                </select>

                <select>
                  <option value="0" disabled selected>انتخاب محل</option>
                  <option value="1">Dhaka</option>
                  <option value="2">Chittagong</option>
                </select>

              </div>
            </div>
          </div>
        </div>
      </div>

      <app-theme-menu>
      </app-theme-menu>

    </section>

    <!--====== HEADER PART ENDS ======-->
