<!--====== FOOTER PART START ======-->

<footer class="footer-area">
  <div class="footer-top pt-20 pb-50">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-xl-4 col-lg-5 col-md-6">
          <div class="row">
            <div class="col-6">
              <div class="single-visitor mt-25">
                <span>25,329,532</span>
                <p>Our Unique visitor</p>
              </div>
            </div>
            <div class="col-6">
              <div class="single-visitor mt-25">
                <span>25,329,53253825</span>
                <p>Our Total visitor</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-5 col-md-6">
          <div class="footer-follow d-flex align-items-center justify-content-center mt-25">
            <h5 class="title">Follow Us</h5>
            <ul class="social">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-widget pt-20 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-about mt-50">
            <a href="#">
              <img src="http://webpro.themepul.com/Seylon_Classified_Ads/assets/images/logo-2.png" alt="Logo">
            </a>
            <p>There are many variations of assages of Lorem Ipsum available, but the rity have suffered alteration in
              some frm, by injected humour.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="footer-link mt-45">
            <h4 class="footer-title">About Us</h4>
            <div class="link-wrapper d-flex flex-wrap">
              <div class="link">
                <ul>
                  <li><a href="#">Our Product</a></li>
                  <li><a href="#">Documentation</a></li>
                  <li><a href="#">Our Services</a></li>
                  <li><a href="#">Apps Download</a></li>
                </ul>
              </div>
              <div class="link">
                <ul>
                  <li><a href="#">Get Started Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Needs Helps?</a></li>
                  <li><a href="#">Join With Us</a></li>
                  <li><a href="#">Ask Question</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-sm-4">
          <div class="footer-link mt-45">
            <h4 class="footer-title">Quick Links</h4>
            <ul class="link">
              <li><a href="#">Marketplace</a></li>
              <li><a href="#">Documentation</a></li>
              <li><a href="#">Customers</a></li>
              <li><a href="#">Carrers</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-8">
          <div class="footer-contact mt-45">
            <h4 class="footer-title">Communication</h4>
            <div class="single-contact d-flex align-items-center mt-25">
              <div class="contact-icon">
                <i class="fal fa-phone"></i>
              </div>
              <div class="contact-content media-body">
                <p>Call Us <br> + 017 123 456 78</p>
              </div>
            </div>
            <div class="single-contact d-flex align-items-center mt-25">
              <div class="contact-icon">
                <i class="fal fa-envelope-open-text"></i>
              </div>
              <div class="contact-content media-body">
                <p>Send Message <br> seylon111@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright-text pt-15 pb-30">
    <div class="container">
      <div class="footer-copyright-text-wrapper text-center d-md-flex align-items-center justify-content-between">
        <div class="footer-copyright mt-15">
          <p>Copywright by <a href="https://themeforest.net/user/24webpro">@24webpro</a>.All Rights Reserved </p>
        </div>
        <div class="footer-text mt-15">
          <ul class="link">
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--====== FOOTER PART ENDS ======-->
