<!--====== FOOTER PART START ======-->

<footer class="footer-area">
  <div class="footer-widget">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-about mt-20">
            <a href="#" class="footer-about-style">
              <img src="/assets/images/logo.png" alt="Logo">
            </a>
            <p class="footer-about-style">{{ 'Fotter.About' | translate }}</p>
          </div>
        </div>
        <div class="col-lg-4">
        </div>
        <div class="col-lg-2 col-sm-4">
          <div class="footer-link mt-20">
            <h4 class="footer-title">{{ 'Fotter.Link' | translate }}</h4>
            <ul class="link">
              <li><a routerLink="/contact">{{ 'Fotter.Contact' | translate }}</a></li>
              <li><a routerLink="/contact">{{ 'Fotter.Help' | translate }}</a></li>
              <li><a routerLink="/contact">{{ 'Fotter.Question' | translate }}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-8">
          <div class="footer-contact mt-20">
            <h4 class="footer-title">{{ 'Fotter.Communication' | translate }}</h4>
            <div class="single-contact d-flex align-items-center mt-25">
              <div class="contact-icon">
                <i class="fal fa-phone"></i>
              </div>
              <div class="contact-content media-body">
                <p>{{ 'Fotter.Call' | translate }} <br> {{ 'Fotter.Phone' | translate }}</p>
              </div>
            </div>
            <div class="single-contact d-flex align-items-center mt-10">
              <div class="contact-icon">
                <i class="fal fa-envelope-open-text"></i>
              </div>
              <div class="contact-content media-body">
                <p>{{ 'Fotter.Message' | translate }} <br> {{ 'Fotter.Email' | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright-text pt-15 pb-30">
    <div class="container">
      <div class="footer-copyright-text-wrapper text-center d-md-flex align-items-center justify-content-between">
        <div class="footer-copyright mt-15">
          <p>{{ 'Fotter.CopyWrite' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--====== FOOTER PART ENDS ======-->
