<app-theme-header>
</app-theme-header>

<app-theme-banner>
</app-theme-banner>

<app-theme-search>
</app-theme-search>

<!--====== ABOUT PART START ======-->

<section class="about-area pt-70 pb-120">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="about-content mt-50">
          <h6 class="sub-title">{{ 'About.Title' | translate }}</h6>
          <p>{{ 'About.Text' | translate }}</p>

          <div class="about-items d-flex">
            <div class="about-icon">
              <i class="fal fa-file-alt"></i>
            </div>
            <div class="about-items-text media-body">
              <h5 class="title">{{ 'About.Need' | translate }}</h5>
              <p>{{ 'About.NeedText' | translate }}</p>
            </div>
          </div>
          <div class="about-items d-flex">
            <div class="about-icon">
              <i class="fal fa-user-friends"></i>
            </div>
            <div class="about-items-text media-body">
              <h5 class="title">{{ 'About.Add' | translate }}</h5>
              <p>{{ 'About.AddText' | translate }}</p>
            </div>
          </div>
          <div class="about-items d-flex">
            <div class="about-icon">
              <i class="fal fa-file-alt"></i>
            </div>
            <div class="about-items-text media-body">
              <h5 class="title">{{ 'About.Buy' | translate }}</h5>
              <p>{{ 'About.BuyText' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--====== ABOUT PART ENDS ======-->

<app-theme-footer>
</app-theme-footer>
