<app-theme-header>
</app-theme-header>

<app-theme-banner>
</app-theme-banner>

<app-theme-search>
</app-theme-search>


<!--====== CONTACT FORM PART START ======-->

<section class="contact-area pt-30 pb-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="contact-info pt-45">
          <h4 class="contact-title">{{ 'Contact.Title' | translate }}</h4>
          <p class="pt-30" [innerHTML]="'Contact.Text' | translate"></p>
          <ul class="pt-15">
            <li>
              <div class="single-info d-flex align-items-center">
                <div class="icon">
                  <i class="fal fa-map-marker-alt"></i>
                </div>
                <div class="content pl-15">
                  <p>{{ 'Contact.Address' | translate }}</p>
                </div>
              </div>
            </li>
            <li>
              <div class="single-info d-flex align-items-center">
                <div class="icon">
                  <i class="fal fa-envelope-open-text"></i>
                </div>
                <div class="content pl-15">
                  <p>{{ 'Contact.Email' | translate }}</p>
                </div>
              </div>
            </li>
            <li>
              <div class="single-info d-flex align-items-center">
                <div class="icon">
                  <i class="fal fa-phone"></i>
                </div>
                <div class="content pl-15">
                  <p>{{ 'Contact.Phone' | translate }}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== CONTACT FORM PART ENDS ======-->

<app-theme-footer>
</app-theme-footer>
