<main class="content">
  <section class="block">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <article class="page-content clearfix">
            <div
              style="background-color: #fffde4; border: 1px solid #f6e8a1; color: #a37731; font-size: 13px; padding: 10px;">
              <i class="fa fa-check" style="margin-left: 5px;"></i><strong>{{ 'Contact.Title' | translate }}</strong>
            </div>
            <p [innerHTML]="'Contact.Text' | translate"></p>

            <p>&nbsp;</p>
            <p>آدرس : {{ 'Contact.Address' | translate }}</p>

            <p>&nbsp;</p>
            <p>ایمیل : {{ 'Contact.Email' | translate }}</p>

            <p>&nbsp;</p>
            <p> تلفن تماس : {{ 'Contact.Phone' | translate }}</p>
          </article>
        </div>
      </div>
    </div>
  </section>
</main>
