<div class="header-menu header-menu-1">

  <div class="horizontal-header d-lg-none">
    <div class="container">
      <div class="horizontal-header d-flex justify-content-between align-items-center">
        <a href="javascript:void(0)" id="horizontal-navtoggle" class="navtoggle"><i class="fal fa-bars"></i></a>

        <span class="smllogo">
          <img src="/assets/images/logo.png" alt="logo" width="120">
        </span>

        <a href="tel:9390709197" class="callusbtn"><i class="fal fa-phone" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <div class="horizontal-main">
    <div class="container">
      <div class="horizontal-wrapper d-flex justify-content-between align-items-center">
        <div class="desktoplogo">
          <a href="">
            <img src="/assets/images/logo.png" alt="logo">
          </a>
        </div>

        <!--Nav-->
        <nav class="horizontalMenu">
          <ul class="horizontalMenu-list">
            <li class="active" aria-haspopup="false">
              <a href="">{{ 'Menu.Home' | translate }}</a>
            </li>
            <li aria-haspopup="true"><a href="">{{ 'Menu.About' | translate }}</a>
            </li>
            <li aria-haspopup="true">
              <a href="">{{ 'Menu.Contact' | translate }}<span class="wsarrow"></span>
              </a>
            </li>
            <li class="position-static" aria-haspopup="true">
              <a href="#">{{ 'Menu.Category' | translate }}<i class="fal fa-chevron-down"></i></a>

              <div class="horizontal-megamenu">
                <div class="container">
                  <div class="megamenu-content">
                    <div class="row">
                      <ul class="link-list" *ngFor="let item of source">
                        <li class="title">{{item.name}}</li>
                        <li *ngFor="let child of item.childCategories">
                          <a href="">{{child.name}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li aria-haspopup="true" class="d-lg-none"> <a class="main-btn" href="">{{ 'Menu.PostAd' | translate }}</a>
            </li>
          </ul>
        </nav>

        <div class="horizontal-btn d-none d-lg-block">
          <a href="#" class="main-btn">{{ 'Menu.PostAd' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
