<div class="header-menu header-menu-1">

  <div class="horizontal-header d-lg-none">
    <div class="container">
      <div class="horizontal-header d-flex justify-content-between align-items-center">
        <a href="javascript:void(0)" id="horizontal-navtoggle" class="navtoggle"><i class="fal fa-bars"></i></a>

        <span class="smllogo">
          <img src="http://webpro.themepul.com/Seylon_Classified_Ads/assets/images/logo.png" alt="logo" width="120">
        </span>

        <a href="tel:245-6325-3256" class="callusbtn"><i class="fal fa-phone" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <div class="horizontal-main">
    <div class="container">
      <div class="horizontal-wrapper d-flex justify-content-between align-items-center">
        <div class="desktoplogo">
          <a href="http://webpro.themepul.com/Seylon_Classified_Ads/index.html">
            <img src="http://webpro.themepul.com/Seylon_Classified_Ads/assets/images/logo.png" alt="logo">
          </a>
        </div>

        <!--Nav-->
        <nav class="horizontalMenu">
          <ul class="horizontalMenu-list">
            <li class="active" aria-haspopup="true">
              <a href="http://webpro.themepul.com/Seylon_Classified_Ads/index.html">Home <i
                  class="fal fa-chevron-down"></i></a>
              <ul class="sub-menu">
                <li aria-haspopup="true"><a href="http://webpro.themepul.com/Seylon_Classified_Ads/index.html"
                    class="active">Home 01</a></li>
                <li aria-haspopup="true"><a href="http://webpro.themepul.com/Seylon_Classified_Ads/index-2.html">Home
                    02</a></li>
                <li aria-haspopup="true"><a href="http://webpro.themepul.com/Seylon_Classified_Ads/index-3.html">Home
                    03</a></li>
                <li aria-haspopup="true"><a href="http://webpro.themepul.com/Seylon_Classified_Ads/index-4.html">Home
                    04</a></li>
                <li aria-haspopup="true"><a href="http://webpro.themepul.com/Seylon_Classified_Ads/index-5.html">Home
                    05</a></li>
              </ul>
            </li>
            <li aria-haspopup="true"><a href="http://webpro.themepul.com/Seylon_Classified_Ads/about.html">About
                Us </a></li>
            <li class="position-static" aria-haspopup="true">
              <a href="#">Pages <i class="fal fa-chevron-down"></i></a>

              <div class="horizontal-megamenu">
                <div class="container">
                  <div class="megamenu-content">
                    <div class="row">
                      <ul class="link-list">
                        <li class="title">Home pages</li>
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/index.html">Home 01</a>
                        </li>
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/index-2.html">Home 02</a>
                        </li>
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/index-3.html">Home 03</a>
                        </li>
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/index-4.html">Home 04</a>
                        </li>
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/index-5.html">Home 05</a>
                        </li>
                      </ul>
                      <ul class="link-list">
                        <li class="title">Custom pages</li>
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/caategory.html">Caategory</a>
                        </li>
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/ads-grid.html">Ads Grid</a>
                        </li>
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/ads-grid-left.html">Ads
                            Left</a> </li>
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/ads-grid-right.html">Ads
                            Right</a> </li>
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/ads-details.html">Ads
                            Details</a> </li>
                      </ul>
                      <ul class="link-list">
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/seller-author-list.html">Seller
                            Author</a> </li>
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/se1ller-author-list.html">Seller
                            Author List</a> </li>
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/pricing.html">Pricing</a>
                        </li>
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/faq.html">FAQ</a> </li>
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/how-it-work.html">How It
                            Work</a> </li>
                      </ul>
                      <ul class="link-list">
                        <li class="title">User Pages</li>
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/dashboard.html">Dashboard</a>
                        </li>
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/profile.html">Profile</a>
                        </li>
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/my-ads.html">My Ads</a>
                        </li>
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/my-favorite.html">Favorite</a>
                        </li>
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/manged.html">Manged</a>
                        </li>
                      </ul>
                      <ul class="link-list">
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/payments.html">Payments</a>
                        </li>
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/change-password.html">Change
                            Password</a> </li>
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/sign-in.html">Sign In</a>
                        </li>
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/sign-up.html">Sign Up</a>
                        </li>
                        <li> <a href="http://webpro.themepul.com/Seylon_Classified_Ads/ad-posts.html">Ad Posts</a>
                        </li>
                        <li> <a href="#">Classifieds List</a> </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li aria-haspopup="true">
              <a href="http://webpro.themepul.com/Seylon_Classified_Ads/blog-archive.html">Blog <i
                  class="fal fa-chevron-down"></i></a>
              <ul class="sub-menu">
                <li aria-haspopup="true">
                  <a href="http://webpro.themepul.com/Seylon_Classified_Ads/blog-archive.html">Blog<i
                      class="fal fa-angle-right d-none d-lg-block"></i></a>

                  <ul class="sub-menu">
                    <li aria-haspopup="true"><a
                        href="http://webpro.themepul.com/Seylon_Classified_Ads/blog-archive.html">Blog Archive</a>
                    </li>
                    <li aria-haspopup="true"><a
                        href="http://webpro.themepul.com/Seylon_Classified_Ads/blog-grid.html">Blog Grid</a></li>
                    <li aria-haspopup="true"><a
                        href="http://webpro.themepul.com/Seylon_Classified_Ads/blog-grid.html">Blog Right</a></li>
                  </ul>
                </li>
                <li aria-haspopup="true">
                  <a href="http://webpro.themepul.com/Seylon_Classified_Ads/blog-details.html">Blog Details</a>
                </li>
              </ul>
            </li>
            <li aria-haspopup="true"><a href="http://webpro.themepul.com/Seylon_Classified_Ads/contact.html">
                Contact Us <span class="wsarrow"></span></a></li>
            <li aria-haspopup="true" class="d-lg-none"> <a class="main-btn"
                href="http://webpro.themepul.com/Seylon_Classified_Ads/ad-posts.html">Post Free Ad</a> </li>
          </ul>
        </nav>

        <div class="horizontal-btn d-none d-lg-block">
          <a href="#" class="main-btn">Post Free Ads</a>
        </div>
      </div>
    </div>
  </div>
</div>
