<div class="header-menu header-menu-1">

  <div class="horizontal-header d-lg-none">
    <div class="container">
      <div class="horizontal-header d-flex justify-content-between align-items-center">
        <a href="javascript:void(0)" id="horizontal-navtoggle" class="navtoggle"><i class="fal fa-bars"></i></a>

        <span class="smllogo">
          <img src="http://webpro.themepul.com/Seylon_Classified_Ads/assets/images/logo.png" alt="logo" width="120">
        </span>

        <a href="tel:9390709197" class="callusbtn"><i class="fal fa-phone" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <div class="horizontal-main">
    <div class="container">
      <div class="horizontal-wrapper d-flex justify-content-between align-items-center">
        <div class="desktoplogo">
          <a href="">
            <img src="http://webpro.themepul.com/Seylon_Classified_Ads/assets/images/logo.png" alt="logo">
          </a>
        </div>

        <!--Nav-->
        <nav class="horizontalMenu">
          <ul class="horizontalMenu-list">
            <li class="active" aria-haspopup="false">
              <a href="">{{ 'Menu.Home' | translate }}<i
                  class="fal fa-chevron-down"></i></a>
            </li>
            <li aria-haspopup="true"><a
                href="">{{ 'Menu.About' | translate }}</a>
            </li>
            <li class="position-static" aria-haspopup="true">
              <a href="#">{{ 'Menu.Category' | translate }}<i class="fal fa-chevron-down"></i></a>

              <div class="horizontal-megamenu">
                <div class="container">
                  <div class="megamenu-content">
                    <div class="row">
                      <ul class="link-list">
                        <li class="title">Home pages</li>
                        <li> <a href="">Home 01</a>
                        </li>
                        <li> <a href="">Home 02</a>
                        </li>
                        <li> <a href="">Home 03</a>
                        </li>
                        <li> <a href="">Home 04</a>
                        </li>
                        <li> <a href="">Home 05</a>
                        </li>
                      </ul>
                      <ul class="link-list">
                        <li class="title">Custom pages</li>
                        <li> <a href="">Caategory</a>
                        </li>
                        <li> <a href="">Ads Grid</a>
                        </li>
                        <li> <a href="">Ads
                            Left</a> </li>
                        <li> <a href="">Ads
                            Right</a> </li>
                        <li> <a href="">Ads
                            Details</a> </li>
                      </ul>
                      <ul class="link-list">
                        <li> <a href="">Seller
                            Author</a> </li>
                        <li> <a href="">Seller
                            Author List</a> </li>
                        <li> <a href="">Pricing</a>
                        </li>
                        <li> <a href="">FAQ</a> </li>
                        <li> <a href="">How It
                            Work</a> </li>
                      </ul>
                      <ul class="link-list">
                        <li class="title">User Pages</li>
                        <li> <a href="">Dashboard</a>
                        </li>
                        <li> <a href="">Profile</a>
                        </li>
                        <li> <a href="">My Ads</a>
                        </li>
                        <li> <a href="">Favorite</a>
                        </li>
                        <li> <a href="">Manged</a>
                        </li>
                      </ul>
                      <ul class="link-list">
                        <li> <a href="">Payments</a>
                        </li>
                        <li> <a href="">Change
                            Password</a> </li>
                        <li> <a href="">Sign In</a>
                        </li>
                        <li> <a href="">Sign Up</a>
                        </li>
                        <li> <a href="">Ad Posts</a>
                        </li>
                        <li> <a href="#">Classifieds List</a> </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li aria-haspopup="true"><a href="">{{ 'Menu.Contact' | translate }}<span class="wsarrow"></span></a></li>
            <li aria-haspopup="true" class="d-lg-none"> <a class="main-btn"
                href="">{{ 'Menu.PostAd' | translate }}</a> </li>
          </ul>
        </nav>

        <div class="horizontal-btn d-none d-lg-block">
          <a href="#" class="main-btn">{{ 'Menu.PostAd' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
