<!--====== ADS GRID PART START ======-->

<section class="ads-grid-page pt-10">
  <div class="container">

    <div class="tab-content pt-20" id="myTabContent">

      <div class="tab-content pt-20" id="myTabContent">
        <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
          <div class="row" *ngIf="source">
            <div class="col-lg-4" *ngFor="let item of source">
              <div class="single-ads-product ads-product-list d-flex flex-wrap mt-30">
                <div class="product-image">
                  <img src="http://webpro.themepul.com/Seylon_Classified_Ads/assets/images/ads-9.png"
                    [alt]="item.title">
                  <p class="stacker" *ngIf="item.type==2">{{ 'Main.Fast' | translate }}</p>
                </div>
                <div class="product-content">
                  <h6 class="sub-title">{{item.categoryName}}</h6>
                  <h4 class="main-title"><a href="#">{{item.categoryName}}</a></h4>
                  <p class="location"><i class="far fa-map-marker-alt"></i>{{item.stateName}}</p>
                  <div class="price-rating d-flex justify-content-between">
                    <p class="price">{{item.price}} $</p>
                  </div>
                  <a routerLink="page/{{item.id}}"
                    class="main-btn main-btn-2 btn-style">{{ 'Main.Detail' | translate }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="seylon-pagination mt-50">
      <ul class="pagination justify-content-center">
        <li><a href="#"><i class="far fa-chevron-left"></i></a></li>
        <li><a class="active" href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#"><i class="far fa-chevron-right"></i></a></li>
      </ul>
    </div>
  </div>
</section>

<!--====== ADS GRID PART ENDS ======-->
