<!--====== ADS GRID PART START ======-->

<section class="ads-grid-page pt-70">
  <div class="container">
    <div class="ads-top-bar d-flex flex-wrap justify-content-between pt-20 align-items-center">
      <div class="list-grid-menu d-flex mt-30 align-items-center">
        <ul class="nav" id="myTab" role="tablist">
          <li>
            <a class="active" id="grid-tab" data-toggle="tab" href="#grid" role="tab" aria-controls="grid"
              aria-selected="true"><i class="fas fa-th"></i> </a>
          </li>
          <li>
            <a id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false"><i
                class="fas fa-list-ul"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content pt-20" id="myTabContent">
      <div class="tab-pane fade show active" id="grid" role="tabpanel" aria-labelledby="grid-tab">
        <div class="row" *ngIf="source">

          <div class="col-lg-3 col-sm-6" *ngFor="let item of source">
            <div class="single-ads-product mt-30">
              <div class="product-image">
                <img src="http://webpro.themepul.com/Seylon_Classified_Ads/assets/images/ads-2.png" [alt]="item.title">
              </div>
              <div class="product-content">
                <h6 class="sub-title">{{item.categoryName}}</h6>
                <h4 class="main-title"><a href="#">{{item.title}}</a></h4>
                <p class="location"><i class="far fa-map-marker-alt"></i>{{item.stateName}}</p>
                <div class="price-rating d-flex justify-content-between">
                  <p class="price">{{item.price}} ریال</p>
                </div>
                <a routerLink="page/{{item.id}}" class="main-btn main-btn-2">{{ 'Main.Detail' | translate }}</a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
        <div class="row">
          <div class="col-lg-6">
            <div class="single-ads-product ads-product-list d-flex flex-wrap mt-30">
              <div class="product-image">
                <img src="http://webpro.themepul.com/Seylon_Classified_Ads/assets/images/ads-9.png" alt="ads">
                <p class="stacker"> Discount 30% </p>
              </div>
              <div class="product-content">
                <h6 class="sub-title">Motor Bike</h6>
                <h4 class="main-title"><a href="#">Dowed electric motorcycle</a></h4>
                <p class="location"><i class="far fa-map-marker-alt"></i> Louis, Missouri, US</p>
                <div class="price-rating d-flex justify-content-between">
                  <p class="price">$13.00</p>
                  <ul class="rating">
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                  </ul>
                </div>
                <a href="#" class="main-btn main-btn-2">View Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-ads-product ads-product-list d-flex flex-wrap mt-30">
              <div class="product-image">
                <img src="http://webpro.themepul.com/Seylon_Classified_Ads/assets/images/ads-10.png" alt="ads">
              </div>
              <div class="product-content">
                <h6 class="sub-title">Pet</h6>
                <h4 class="main-title"><a href="#">Black Jaguar-White Tiger</a></h4>
                <p class="location"><i class="far fa-map-marker-alt"></i> Louis, Missouri, US</p>
                <div class="price-rating d-flex justify-content-between">
                  <p class="price">$13.00</p>
                  <ul class="rating">
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                  </ul>
                </div>
                <a href="#" class="main-btn main-btn-2">View Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-ads-product ads-product-list d-flex flex-wrap mt-30">
              <div class="product-image">
                <img src="http://webpro.themepul.com/Seylon_Classified_Ads/assets/images/ads-11.png" alt="ads">
                <p class="stacker"> Discount 30% </p>
              </div>
              <div class="product-content">
                <h6 class="sub-title">Food</h6>
                <h4 class="main-title"><a href="#">Does Tasty Food Make</a></h4>
                <p class="location"><i class="far fa-map-marker-alt"></i> Louis, Missouri, US</p>
                <div class="price-rating d-flex justify-content-between">
                  <p class="price">$13.00</p>
                  <ul class="rating">
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                  </ul>
                </div>
                <a href="#" class="main-btn main-btn-2">View Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-ads-product ads-product-list d-flex flex-wrap mt-30">
              <div class="product-image">
                <img src="http://webpro.themepul.com/Seylon_Classified_Ads/assets/images/ads-12.png" alt="ads">
              </div>
              <div class="product-content">
                <h6 class="sub-title">Automobile</h6>
                <h4 class="main-title"><a href="#">Tesla Model 3 was August's</a></h4>
                <p class="location"><i class="far fa-map-marker-alt"></i> Louis, Missouri, US</p>
                <div class="price-rating d-flex justify-content-between">
                  <p class="price">$13.00</p>
                  <ul class="rating">
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                  </ul>
                </div>
                <a href="#" class="main-btn main-btn-2">View Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-ads-product ads-product-list d-flex flex-wrap mt-30">
              <div class="product-image">
                <img src="http://webpro.themepul.com/Seylon_Classified_Ads/assets/images/ads-2.png" alt="ads">
              </div>
              <div class="product-content">
                <h6 class="sub-title">Automobile</h6>
                <h4 class="main-title"><a href="#">Tesla Model 3 was August's</a></h4>
                <p class="location"><i class="far fa-map-marker-alt"></i> Louis, Missouri, US</p>
                <div class="price-rating d-flex justify-content-between">
                  <p class="price">$13.00</p>
                  <ul class="rating">
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                  </ul>
                </div>
                <a href="#" class="main-btn main-btn-2">View Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-ads-product ads-product-list d-flex flex-wrap mt-30">
              <div class="product-image">
                <img src="http://webpro.themepul.com/Seylon_Classified_Ads/assets/images/ads-5.png" alt="ads">
              </div>
              <div class="product-content">
                <h6 class="sub-title">Automobile</h6>
                <h4 class="main-title"><a href="#">Tesla Model 3 was August's</a></h4>
                <p class="location"><i class="far fa-map-marker-alt"></i> Louis, Missouri, US</p>
                <div class="price-rating d-flex justify-content-between">
                  <p class="price">$13.00</p>
                  <ul class="rating">
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                  </ul>
                </div>
                <a href="#" class="main-btn main-btn-2">View Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-ads-product ads-product-list d-flex flex-wrapmt-30">
              <div class="product-image">
                <img src="http://webpro.themepul.com/Seylon_Classified_Ads/assets/images/ads-6.png" alt="ads">
              </div>
              <div class="product-content">
                <h6 class="sub-title">Automobile</h6>
                <h4 class="main-title"><a href="#">Tesla Model 3 was August's</a></h4>
                <p class="location"><i class="far fa-map-marker-alt"></i> Louis, Missouri, US</p>
                <div class="price-rating d-flex justify-content-between">
                  <p class="price">$13.00</p>
                  <ul class="rating">
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                  </ul>
                </div>
                <a href="#" class="main-btn main-btn-2">View Details</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-ads-product ads-product-list d-flex flex-wrap mt-30">
              <div class="product-image">
                <img src="http://webpro.themepul.com/Seylon_Classified_Ads/assets/images/ads-8.png" alt="ads">
              </div>
              <div class="product-content">
                <h6 class="sub-title">Automobile</h6>
                <h4 class="main-title"><a href="#">Tesla Model 3 was August's</a></h4>
                <p class="location"><i class="far fa-map-marker-alt"></i> Louis, Missouri, US</p>
                <div class="price-rating d-flex justify-content-between">
                  <p class="price">$13.00</p>
                  <ul class="rating">
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                  </ul>
                </div>
                <a href="#" class="main-btn main-btn-2">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="seylon-pagination mt-50">
      <ul class="pagination justify-content-center">
        <li><a href="#"><i class="far fa-chevron-left"></i></a></li>
        <li><a class="active" href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#"><i class="far fa-chevron-right"></i></a></li>
      </ul>
    </div>
  </div>
</section>

<!--====== ADS GRID PART ENDS ======-->
