@import url("font-rtl.css");

body,
html,
input,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ISDN" !important;
}

.single-ads-product .product-content .location,
.sub-title,
.main-title,
.main-title a,
.price-rating,
.footer-link,
.footer-contact,
.link-list,
.ads-sidebar-title h4,
.seller-author-wrapper,
.ads-details-content,
.seller-about,
.footer-copyright-text {
  direction: rtl;
  text-align: right;
}

.single-ads-product .product-content .location i {
  margin-left: 5px;
}

.footer-widget .footer-title::before {
  right: 0;
}

.fal {
  margin-left: 5px;
}

.author-content,
.ads-details-message {
  margin-right: 5px;
}

.footer-area {
  margin-top: 10px;
}

.horizontal-wrapper,
.social,
.get-search-form {
  direction: rtl;
}

.go-top-area .go-top.active,
.get-search-form .single-form button {
  left: 10px;
  right: auto !important;
}

input {
  text-align: right;
  direction: rtl;
}
