@import url("font-rtl.css");

body,
html,
input,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ISDN" !important;
}

.single-ads-product .product-content .location,
.sub-title,
.main-title,
.main-title a,
.footer-link,
.footer-contact,
.link-list,
.ads-sidebar-title h4,
.seller-author-wrapper,
.ads-details-content,
.seller-about,
.footer-copyright-text,
.sing-in-form-area {
  direction: rtl;
  text-align: right;
}

.single-ads-product .product-content .location i {
  margin-left: 5px;
}

.footer-widget .footer-title::before {
  right: 0;
}

.fal {
  margin-left: 5px;
}

.author-content,
.ads-details-message {
  margin-right: 5px;
}

.footer-area {
  margin-top: 10px;
}

.horizontal-wrapper,
.social,
.get-search-form,
.tab-pane {
  direction: rtl;
}

.go-top-area .go-top.active,
.get-search-form .single-form button {
  left: 10px;
  right: auto !important;
}

input {
  text-align: right;
  direction: rtl;
}

.price-rating {
  direction: ltr;
}

.product-image {
  height: 100%;
}

.single-ads-product {
  height: 200px;
}

.single-ads-product .product-content .main-title a {
  font-size: 14px;
}

.single-ads-product .product-content .sub-title {
  font-size: 12px;
}

.btn-style {
  height: 30px !important;
  line-height: 30px !important;
  font-size: 12px !important;
}

.top-select {
  display: flex;
}

.form-complete {
  width: 100% !important;
}

.top-select .nice-select {
  margin-left: 5px;
}

.header-top-2 .header-top-left .header-follow .header-login li a {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
}

.header-top-right .header-follow .header-login li a {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  line-height: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0 15px;
  border-radius: 3px;
}

.header-top-right .header-follow .header-login {
  padding-left: 0 !important;
}

.contact-btn {
  text-align: left;
}

.sing-in-form-area form .single-form input {
  direction: ltr;
  text-align: left;
  height: 45px;
}

.sing-in-form-area form .single-form label {
  margin-bottom: 1px;
  ;
}

.inline-block {
  display: inline !important;
}

.form-forget {
  float: left;
  font-size: 12px !important;
}

.sing-in-area .nice-select {
  width: 100% !important;
}

.sing-in-area .nice-select .list {
  width: 100% !important;
}

.nice-select .list li {
  direction: rtl;
  text-align: right;
}

.footer-about-style {
  direction: rtl;
  text-align: center;
  display: block;
}

.contact-info,
.about-area {
  direction: rtl;
  text-align: right;
}

.about-items-text,
.about-content {
  max-width: 90% !important;
}

@media screen and (max-width: 990px) {

  .horizontal-wrapper,
  .social,
  .get-search-form,
  .tab-pane {
    direction: ltr;
  }

  .horizontal-wrapper,
  .social {
    display: none;
  }

  .header-login li a i {
    display: none;
  }

  .nice-select {
    height: 30px;
    line-height: 30px;
  }
}
