<!--====== ADS DETAILS PART START ======-->

<section class="ads-details-page pt-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ads-details pt-20">
          <div class="row" *ngIf="item">
            <div class="col-md-7">
              <div class="ads-details-image mt-30">
                <div *ngIf="item?.images?.length>0" class="details-image">
                  <div *ngFor="let img of item.images" class="single-details-image">
                    <img [src]="img.image" [alt]="item.title">
                  </div>
                </div>
                <div *ngIf="item?.images?.length>0" class="details-image-thumb">
                  <div *ngFor="let img of item.images" class="single-details-image-thumb">
                    <img [src]="img.image" [alt]="item.title">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="ads-details-content mt-30">
                <h4 class="title">{{item.title}}</h4>
                <p class="text">{{item.categoryName}}</p>
                <div class="price-stock d-flex flex-wrap align-items-center">
                  <p class="price">{{item.price}}</p>
                  <p class="stock">{{item.time}}</p>
                </div>

                <p class="text">{{item.text}}</p>

                <div class="ads-details-wrapper">
                  <div class="share">
                    <ul class="social">
                      <li><span class="title">{{ 'Single.Share' | translate }} : </span></li>
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                  </div>

                  <div class="ads-details-contact">
                    <h6 class="title">{{ 'Single.Contact' | translate }} :</h6>

                    <div class="ads-details-contact-wrapper d-flex flex-wrap align-items-center mt-20">
                      <div class="contact-btn" (click)="onPhoneClick()">
                        <a>{{phone}}</a>
                        <p *ngIf="showPhoneText">{{ 'Single.ShowPhone' | translate }}</p>
                        <p *ngIf="!showPhoneText">{{ 'Single.NotShowPhone' | translate }}</p>
                        <i class="fal fa-phone"></i>
                      </div>

                      <!-- <div class="ads-details-message">
                        <a href="#"><i class="fal fa-envelope-open-text"></i></a>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="!item">
            <p style="text-align: center;width: 100%;">
              <img src="/assets/images/spin.gif" alt="loading" title="loading" />
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!--====== ADS DETAILS PART ENDS ======-->
