input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

agm-map {
  height: 300px;
}

.nice-select,
ul .list {
  width: 100% !important;
}
