<app-theme-header>
</app-theme-header>

<app-theme-banner>
</app-theme-banner>

<app-theme-search>
</app-theme-search>

<!--====== SING IN PART START ======-->

<section class="sing-in-area pt-70">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="sing-in-form-area mt-45 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
          <h4 class="sing-in-title"><i class="fal fa-sign-in-alt"></i>{{ 'Add.New' | translate }}</h4>
          <p class="text">{{ 'Add.Text' | translate }}</p>
          <p class="text" *ngIf="error">{{ error }}</p>

          <div class="sing-in-form-wrapper">
            <form (ngSubmit)="onAdd()" #form="ngForm" enctype="multipart/form-data">

              <div class="single-form mt-45">
                <label>{{ 'Add.Title' | translate }}</label>
                <input type="text" placeholder="title" [(ngModel)]="item.title" name="title" id="title" #type="ngModel"
                  autocomplete="off" required>
              </div> <!-- single-form -->

              <div class="single-form mt-45">
                <label>{{ 'Add.Phone' | translate }}</label>
                <input type="number" placeholder="939xxx" min="1000000000" max="99999999999" [(ngModel)]="item.phone"
                  autocomplete="off" name="phone" id="phone" #type="ngModel" required>
              </div> <!-- single-form -->

              <div class="single-form mt-45">
                <label>{{ 'Add.State' | translate }}</label>
                <select [(ngModel)]="item.stateId" #type="ngModel" name="stateId" id="stateId" required>
                  <option disabled selected>انتخاب موقعیت</option>

                  <optgroup *ngFor="let item of states" [label]="item.name">
                    <option *ngFor="let subItem of item.childStates" [value]="subItem.id">{{subItem.name}}</option>
                  </optgroup>
                </select>
              </div> <!-- single-form -->

              <div class="single-form mt-45">
                <label>{{ 'Add.Cat' | translate }}</label>
                <select [(ngModel)]="item.categoryId" #type="ngModel" name="categoryId" id="categoryId" required>
                  <option disabled selected>انتخاب دسته بندی</option>

                  <optgroup *ngFor="let itemCat of cats" [label]="itemCat.name">
                    <option *ngFor="let subItemCat of itemCat.childCategories" [value]="subItemCat.id">
                      {{subItemCat.name}}</option>
                  </optgroup>
                </select>
              </div> <!-- single-form -->

              <div class="single-form mt-45">
                <label>{{ 'Add.Type' | translate }}</label>
                <select [(ngModel)]="item.type" #type="ngModel" name="type" id="type" required>
                  <option value="1" selected>عادی</option>
                   <option value="2">ویژه</option>
                </select>
              </div> <!-- single-form -->

              <div class="single-form mt-45">
                <label>{{ 'Add.Price' | translate }}</label>
                <input *ngIf="!isChecked" type="number" placeholder="price" min="0" max="99999999999"
                  [(ngModel)]="item.price" name="price" id="price" #type="ngModel" autocomplete="off"
                  [disabled]="isChecked">

                <div class="form-checkbox mt-10">
                  <input type="checkbox" name="agreed" id="agreed" (change)="onCheckboxChange($event)">
                  <label for="agreed"></label>
                  <span>{{ 'Add.Agreed' | translate }}</span>
                </div>
              </div> <!-- single-form -->

              <div class="single-form mt-45">
                <label>{{ 'Add.Description' | translate }}</label>
                <textarea [(ngModel)]="item.text" name="text" id="text" #type="ngModel"
                  required></textarea>
              </div> <!-- single-form -->

              <div class="single-form mt-45">
                <label>{{ 'Add.Images' | translate }}</label>
                <file-upload [(ngModel)]="uploadedFiles" #fileInput="ngModel" name="uploadedFiles" fileslimit="4"
                  accept=".jpg, .png, .jpeg" maxsize="7 MB" multiple="true">
                  <ng-template let-isFileDragDropAvailable="isFileDragDropAvailable" #placeholder>
                    <span *ngIf="isFileDragDropAvailable">فایل خود را انتخاب یا درگ کنید</span>
                    <span *ngIf="!isFileDragDropAvailable">فایل خود را انتخاب کنید</span>
                  </ng-template>
                </file-upload>
              </div> <!-- single-form -->

              <div class="single-form mt-45">
                <label>{{ 'Add.Location' | translate }}</label>
                <agm-map [latitude]='latitude' [longitude]='longitude'>
                  <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                    (dragEnd)="selectMarker($event)">
                  </agm-marker>
                </agm-map>
              </div> <!-- single-form -->

              <div class="single-form mt-45">
                <button type="submit" class="main-btn">{{ 'Add.Add' | translate }}</button>
              </div> <!-- single-form -->
            </form>
          </div> <!-- sing in form wrapper -->
        </div> <!-- sing in form areasing-in-form-area -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== SING IN PART ENDS ======-->

<app-theme-footer>
</app-theme-footer>
