<main class="content">
  <section class="block">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <article class="page-content clearfix">
            <div
              style="background-color: #fffde4; border: 1px solid #f6e8a1; color: #a37731; font-size: 13px; padding: 10px;">
              <i class="fa fa-check" style="margin-left: 5px;"></i><strong>{{ 'About.Title' | translate }}</strong>
            </div>

            <p style="text-align: left;direction: ltr;"> Who we are (responsible body)<br>
              Collection and processing of data<br>
              What do we use personal data for?<br>
              privacy<br>
              What is personal data?<br>
              How do we get personal information about you?<br>
              How do we use information about you?<br>
              On what legal basis do we process your personal data?<br>
              How long do we store your personal data?<br>
              Which personal data do we pass on to whom?<br>
              What rights do you have as a data subject under data protection law?<br>
              Analysis tools used<br>
              Special about children's privacy<br>
              Changes to the privacy policy<br>
              Cookies<br>
              What is a cookie?<br>
              Why do we use cookies?<br>
              Types of cookies<br>
              Consent Management Platform (CMP)<br>
              Cookies on niazmandiha in the areas of functionality and performance / web analysis<br>
              Manage cookies through the web browser<br>
              Data access and data security<br>
             </p>
            <p>&nbsp;</p>
            <p style="height: 200px;"></p>
          </article>
        </div>
      </div>
    </div>
  </section>
</main>
