<link rel="stylesheet" href="/assets/css/style-chat.css">

<!-- partial:index.partial.html -->
<div class="container-chat clearfix">
  <div class="chat" style="width: 100%;">
    <div class="chat-header clearfix">
      <div class="chat-about">
        <div class="chat-with" style="margin-bottom: 20px;">{{ 'Chat.WriteMessage' | translate }}</div>
      </div>
    </div> <!-- end chat-header -->

    <div class="chat-message clearfix">
      <form (ngSubmit)="onAdd()" #form="ngForm">
        <textarea [(ngModel)]="text" #type="ngModel" name="message-to-send" id="message-to-send"
          [placeholder]="'Chat.WriteMessage' | translate" rows="3" required></textarea>

        <button class="btn btn-primary width-100">{{ 'Chat.Send' | translate }}</button>
      </form>
    </div> <!-- end chat-message -->

  </div> <!-- end chat -->

</div> <!-- end container -->

<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js'></script>
<script src="/assets/js/script-chat.js"></script>
