<app-theme-header>
</app-theme-header>

<app-theme-banner>
</app-theme-banner>

<app-theme-search>
</app-theme-search>

<section class="how-it-work pt-70 pb-120">
  <div class="container">
    <div class="row work-wrapper">
      <div class="col-lg-12 col-md-12 work-col">
        <div class="single-work text-center mt-50">
          <div class="work-icon">
            <span><i class="fal fa-check"></i></span>
            <h6 class="sub-title">پیغام</h6>
          </div>
          <p>{{msg}}</p>
        </div>
      </div>
    </div>
  </div>
</section>


<app-theme-footer>
</app-theme-footer>
