@font-face {
  font-family: 'Vazir';
  src: url('/assets/fonts/Vazir-FD.eot');
  src: url('/assets/fonts/Vazir-FD.eot') format('embedded-opentype'),
    url('/assets/fonts/Vazir-FD.woff') format('woff'),
    url('/assets/fonts/Vazir-FD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$nb-themes: nb-register-theme((layout-padding-top: 2.25rem,

    menu-item-icon-margin: 0 0.5rem 0 0,

    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,

    font-family-primary: unquote('Vazir'),
    font-family-secondary: font-family-primary,
  ), default, default);
