.form-row {
  margin: 10px
}

.button {
  box-shadow: 0 0.4rem 3.3rem rgba(0, 0, 0, .3);
  cursor: pointer;
  border-radius: 3px;
  padding-bottom: 10px;
}

.register_btn_show {
  padding: 15px;
}

button:disabled {
  background-color: #eee !important;
  color: #b3040b !important;
  cursor: default;
}