<main class="content">
  <section class="block">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <article class="page-content clearfix">
            <div class="woocommerce">
              <div class="u-columns row" id="customer_login">
                <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12">
                  <div class="section-title clearfix">
                    <h2>ورود / ثبت نام</h2>
                  </div>
                  <form class="woocommerce-form woocommerce-form-register register">
                    <div class="loading" style="margin: -30px;height: 80%;">
                      <div class="loader-show"></div>
                    </div>
                    <div class="form-row form-row-wide phone_input" >
                      <label for="reg_phone">شماره تماس&nbsp;<span class="required">*</span></label>
                      <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="phone"
                        id="reg_phone" pattern="[0-9]*" value="" />
                      <p class="user_error_show"></p>
                    </div>
                    <p class="form-row register_btn_show">
                      <button type="submit" class="button charsoogh_register" name="register">ورود /
                        ثبت نام</button>
                    </p>
                    <div class="final-register-result"></div>
                    <div class="alert alert-warning" style="padding:10px 10px 1px 10px;" role="alert">
                      <p>ورود به سایت</p>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</main>
